.ui-segment{
	color: #F96D6D;
	border: 1px solid #F96D6D;
	border-radius: 4px;
	display:inline-block;
	font-family: 'Lato',Georgia, Serif;
}
.ui-segment span.option.active{
	/*background-color: rgb(0, 122, 255);*/
	background-color: #F96D6D;
	color: white;
}
.ui-segment span.option.pending{
	/*background-color: rgb(0, 122, 255);*/
	background-color: orange;
	color: white;
}
.ui-segment span.option.waiting{
	/*background-color: rgb(0, 122, 255);*/
	background-color: red;
	color: white;
}
.ui-segment span.option{
	font-size: 13px;
/*
	padding-left: 12px;
	padding-right: 12px;
*/
	padding-left: 10px;
	padding-right: 10px;
	height: 22px;
	text-align:center;
	display:inline-block;
	line-height: 22px;
	margin: 0px;
	float:left;
	cursor:pointer;
	border-right:1px solid #F96D6D;
}
.ui-segment span.option:last-child{
	border-right: none;
}
.segment-select{
	display:none;
}


.ui-segment1 {
    font-size: 14px;
    color: #11c2d7;
    border: 1px solid #11c2d7;
    border-radius: 4px;
    display:inline-block;
    font-family: 'Lato',Georgia, Serif;
}
.ui-segment1 span.option.active{
    /*background-color: rgb(0, 122, 255);*/
    background-color: #11c2d7;
    color: white;
}
.ui-segment1 span.option.pending{
    /*background-color: rgb(0, 122, 255);*/
    background-color: orange;
    color: white;
}
.ui-segment1 span.option.waiting{
    /*background-color: rgb(0, 122, 255);*/
    background-color: red;
    color: white;
}
.ui-segment1 span.option{
    font-size: 13px;
    /*
        padding-left: 12px;
        padding-right: 12px;
    */
/*
    padding-left: 10px;
    padding-right: 10px;
*/

    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    text-align:center;
    display:inline-block;
    line-height: 22px;
    margin: 0px;
    float:left;
    cursor:pointer;
    border-right:1px solid #11c2d7;
}
.ui-segment1 span.option:last-child{
    border-right: none;
}
.segment1-select{
    display:none;
}
